bssv/JP564803/public_html/WEB-INF/wsdl/BE_FindWorkOrderSerialNoService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="BE_FindWorkOrderSerialNoService"
     targetNamespace="http://be.e1.bssv.JP564803/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://be.e1.bssv.JP564803/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://be.e1.bssv.JP564803/"
             elementFormDefault="qualified" xmlns:tns="http://be.e1.bssv.JP564803/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/">
            <complexType name="BusinessServiceException">
                <sequence>
                    <element name="message" type="string" nillable="true"/>
                    <element name="requestID" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="MOInfo">
                <sequence>
                    <element name="MUpdateDate" type="string" nillable="true"/>
                    <element name="moSeqNo" type="int"/>
                    <element name="szFileName" type="string" nillable="true"/>
                    <element name="szMoKey" type="string" nillable="true"/>
                    <element name="MUpdateTimeStamp" type="int"/>
                    <element name="szItemName" type="string" nillable="true"/>
                    <element name="szMoName" type="string" nillable="true"/>
                    <element name="MUpdateUserID" type="string" nillable="true"/>
                    <element name="szQName" type="string" nillable="true"/>
                    <element name="szData" type="anyType" nillable="true"/>
                    <element name="szMoType" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <element name="FindWorkOrderSerialNo" type="tns:GetWorkOrderSerialNo" nillable="true"/>
            <complexType name="GetWorkOrderSerialNo">
                <complexContent>
                    <extension base="tns:ValueObject">
                        <sequence>
                            <element name="productionNumber" type="string" nillable="true"/>
                            <element name="documentOrderInvoiceE" type="int" nillable="true"/>
                            <element name="identifier2ndItem" type="string" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="ValueObject">
                <sequence/>
            </complexType>
            <complexType name="WorkOrderSerialNo">
                <complexContent>
                    <extension base="tns:ValueObject">
                        <sequence>
                            <element name="serialNumber1" type="string" nillable="true"/>
                            <element name="orderType" type="string" nillable="true"/>
                            <element name="documentOrderInvoiceE" type="int" nillable="true"/>
                            <element name="identifier2ndItem" type="string" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="MessageValueObject">
                <complexContent>
                    <extension base="tns:ValueObject">
                        <sequence>
                            <element name="e1MessageList" type="tns:E1MessageList" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="E1MessageList">
                <sequence>
                    <element name="e1Messages" type="tns:E1Message" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="E1Message">
                <sequence>
                    <element name="message" type="string" nillable="true"/>
                    <element name="messagePrefix" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="ShowWorkOrderSerialNo">
                <complexContent>
                    <extension base="tns:MessageValueObject">
                        <sequence>
                            <element name="workOrderSerialNo" type="tns:WorkOrderSerialNo" nillable="true"
                                 minOccurs="0" maxOccurs="unbounded"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <element name="FindWorkOrderSerialNoResponse" type="tns:ShowWorkOrderSerialNo" nillable="true"/>
            <element name="BusinessServiceExceptionElement" type="tns:BusinessServiceException"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="BE_FindWorkOrderSerialNoPortType_FindWorkOrderSerialNo">
        <wsdl:part name="parameters" element="tns:FindWorkOrderSerialNo"/>
    </wsdl:message>
    <wsdl:message name="BE_FindWorkOrderSerialNoPortType_FindWorkOrderSerialNoResponse">
        <wsdl:part name="return" element="tns:FindWorkOrderSerialNoResponse"/>
    </wsdl:message>
    <wsdl:message name="BusinessServiceException">
        <wsdl:part name="BusinessServiceExceptionElement" element="tns:BusinessServiceExceptionElement"/>
    </wsdl:message>
    <wsdl:portType name="BE_FindWorkOrderSerialNo">
        <wsdl:operation name="FindWorkOrderSerialNo">
            <wsdl:input message="tns:BE_FindWorkOrderSerialNoPortType_FindWorkOrderSerialNo"/>
            <wsdl:output message="tns:BE_FindWorkOrderSerialNoPortType_FindWorkOrderSerialNoResponse"/>
            <wsdl:fault name="BusinessServiceException" message="tns:BusinessServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BE_FindWorkOrderSerialNo" type="tns:BE_FindWorkOrderSerialNo">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="FindWorkOrderSerialNo">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="return"/>
            </wsdl:output>
            <wsdl:fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BE_FindWorkOrderSerialNoService">
        <wsdl:port name="BE_FindWorkOrderSerialNoPort" binding="tns:BE_FindWorkOrderSerialNo">
            <soap:address location="http://localhost:7101/context-root-JP564803/BE_FindWorkOrderSerialNoPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
