bssv/JP560001/public_html/WEB-INF/wsdl/BE_ECMDocumentIDInformationManagerService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="BE_ECMDocumentIDInformationManagerService"
     targetNamespace="http://be.e1.bssv.JP560001/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://be.e1.bssv.JP560001/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://be.e1.bssv.JP560001/"
             elementFormDefault="qualified" xmlns:tns="http://be.e1.bssv.JP560001/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/">
            <complexType name="BusinessServiceException">
                <sequence>
                    <element name="message" type="string" nillable="true"/>
                    <element name="requestID" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="MOInfo">
                <sequence>
                    <element name="MUpdateDate" type="string" nillable="true"/>
                    <element name="moSeqNo" type="int"/>
                    <element name="szFileName" type="string" nillable="true"/>
                    <element name="szMoKey" type="string" nillable="true"/>
                    <element name="MUpdateTimeStamp" type="int"/>
                    <element name="szItemName" type="string" nillable="true"/>
                    <element name="szMoName" type="string" nillable="true"/>
                    <element name="MUpdateUserID" type="string" nillable="true"/>
                    <element name="szQName" type="string" nillable="true"/>
                    <element name="szData" type="anyType" nillable="true"/>
                    <element name="szMoType" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <element name="ecmDocumentIDInformationManager" type="tns:GetECMDocumentIDInformation"
                 nillable="true"/>
            <complexType name="GetECMDocumentIDInformation">
                <complexContent>
                    <extension base="tns:ValueObject">
                        <sequence>
                            <element name="ECMDocumentIDInformation" type="tns:ECMDocumentIDInformation"
                                 nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                            <element name="barcodeID" type="string" nillable="true"/>
                            <element name="mode" type="string" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="ECMDocumentIDInformation">
                <complexContent>
                    <extension base="tns:ValueObject">
                        <sequence>
                            <element name="szDataValue" type="string" nillable="true"/>
                            <element name="szFieldName" type="string" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="ValueObject">
                <sequence/>
            </complexType>
            <complexType name="MessageValueObject">
                <complexContent>
                    <extension base="tns:ValueObject">
                        <sequence>
                            <element name="e1MessageList" type="tns:E1MessageList" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="E1MessageList">
                <sequence>
                    <element name="e1Messages" type="tns:E1Message" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="E1Message">
                <sequence>
                    <element name="message" type="string" nillable="true"/>
                    <element name="messagePrefix" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="ShowECMDocumentIDInformation">
                <complexContent>
                    <extension base="tns:MessageValueObject">
                        <sequence>
                            <element name="sessionID" type="string" nillable="true"/>
                            <element name="errorCode" type="string" nillable="true"/>
                            <element name="errorDescription" type="string" nillable="true"/>
                            <element name="ecmDocumentIDList" type="tns:ECMDocumentIDList" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="ECMDocumentIDList">
                <sequence>
                    <element name="ecmDocumentIDInformation" type="tns:ECMDocumenIDtInformation" nillable="true"
                         minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="ECMDocumenIDtInformation">
                <complexContent>
                    <extension base="tns:ValueObject">
                        <sequence>
                            <element name="sessionID" type="string" nillable="true"/>
                            <element name="szDataValue" type="string" nillable="true"/>
                            <element name="szFieldName" type="string" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <element name="ecmDocumentIDInformationManagerResponse" type="tns:ShowECMDocumentIDInformation"
                 nillable="true"/>
            <element name="BusinessServiceExceptionElement" type="tns:BusinessServiceException"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="BE_ECMDocumentIDInformationManagerPortType_ecmDocumentIDInformationManager">
        <wsdl:part name="parameters" element="tns:ecmDocumentIDInformationManager"/>
    </wsdl:message>
    <wsdl:message name="BE_ECMDocumentIDInformationManagerPortType_ecmDocumentIDInformationManagerResponse">
        <wsdl:part name="return" element="tns:ecmDocumentIDInformationManagerResponse"/>
    </wsdl:message>
    <wsdl:message name="BusinessServiceException">
        <wsdl:part name="BusinessServiceExceptionElement" element="tns:BusinessServiceExceptionElement"/>
    </wsdl:message>
    <wsdl:portType name="BE_ECMDocumentIDInformationManager">
        <wsdl:operation name="ecmDocumentIDInformationManager">
            <wsdl:input message="tns:BE_ECMDocumentIDInformationManagerPortType_ecmDocumentIDInformationManager"/>
            <wsdl:output message="tns:BE_ECMDocumentIDInformationManagerPortType_ecmDocumentIDInformationManagerResponse"/>
            <wsdl:fault name="BusinessServiceException" message="tns:BusinessServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BE_ECMDocumentIDInformationManager" type="tns:BE_ECMDocumentIDInformationManager">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ecmDocumentIDInformationManager">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="return"/>
            </wsdl:output>
            <wsdl:fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BE_ECMDocumentIDInformationManagerService">
        <wsdl:port name="BE_ECMDocumentIDInformationManagerPort" binding="tns:BE_ECMDocumentIDInformationManager">
            <soap:address location="http://localhost:7101/context-root-JP560001/BE_ECMDocumentIDInformationManagerPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
