bssv/JP56RC01/public_html/WEB-INF/wsdl/BE_CheckAndRetrieveItemRevQueryManagerService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="BE_CheckAndRetrieveItemRevQueryManagerService"
     targetNamespace="http://be.e1.bssv.JP56RC01/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://be.e1.bssv.JP56RC01/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://be.e1.bssv.JP56RC01/"
             elementFormDefault="qualified" xmlns:tns="http://be.e1.bssv.JP56RC01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/">
            <complexType name="BusinessServiceException">
                <sequence>
                    <element name="message" type="string" nillable="true"/>
                    <element name="requestID" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="MOInfo">
                <sequence>
                    <element name="MUpdateDate" type="string" nillable="true"/>
                    <element name="moSeqNo" type="int"/>
                    <element name="szFileName" type="string" nillable="true"/>
                    <element name="szMoKey" type="string" nillable="true"/>
                    <element name="MUpdateTimeStamp" type="int"/>
                    <element name="szItemName" type="string" nillable="true"/>
                    <element name="szMoName" type="string" nillable="true"/>
                    <element name="MUpdateUserID" type="string" nillable="true"/>
                    <element name="szQName" type="string" nillable="true"/>
                    <element name="szData" type="anyType" nillable="true"/>
                    <element name="szMoType" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <element name="getCheckAndRetrieveItemRevQueryManager" type="tns:GetCheckandRetrieveItemRevInformation"
                 nillable="true"/>
            <complexType name="GetCheckandRetrieveItemRevInformation">
                <complexContent>
                    <extension base="tns:ValueObject">
                        <sequence>
                            <element name="actionCode" type="string" nillable="true"/>
                            <element name="szEnteredItem" type="string" nillable="true"/>
                            <element name="revControlRevisionBusinessUnit" type="string" nillable="true"/>
                            <element name="suppressErrorMessage" type="string" nillable="true"/>
                            <element name="itemNumberUnknownFormatEntered" type="string" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="ValueObject">
                <sequence/>
            </complexType>
            <complexType name="MessageValueObject">
                <complexContent>
                    <extension base="tns:ValueObject">
                        <sequence>
                            <element name="e1MessageList" type="tns:E1MessageList" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="E1MessageList">
                <sequence>
                    <element name="e1Messages" type="tns:E1Message" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="E1Message">
                <sequence>
                    <element name="message" type="string" nillable="true"/>
                    <element name="messagePrefix" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="ShowCheckandRetrieveItemRevInformation">
                <complexContent>
                    <extension base="tns:MessageValueObject">
                        <sequence>
                            <element name="szEnteredItem" type="string" nillable="true"/>
                            <element name="revControlRevisionId" type="string" nillable="true"/>
                            <element name="revControlItemBaseId" type="string" nillable="true"/>
                            <element name="revControlLatestRevision" type="string" nillable="true"/>
                            <element name="errorCode" type="string" nillable="true"/>
                            <element name="itemNumberUnknownFormatEntered" type="string" nillable="true"/>
                            <element name="CItemRevisionControl" type="string" nillable="true"/>
                            <element name="dataItem" type="string" nillable="true"/>
                            <element name="revControlItemRevisionId" type="string" nillable="true"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <element name="getCheckAndRetrieveItemRevQueryManagerResponse" type="tns:ShowCheckandRetrieveItemRevInformation"
                 nillable="true"/>
            <element name="BusinessServiceExceptionElement" type="tns:BusinessServiceException"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="BE_CheckAndRetrieveItemRevQueryManagerPortType_getCheckAndRetrieveItemRevQueryManager">
        <wsdl:part name="parameters" element="tns:getCheckAndRetrieveItemRevQueryManager"/>
    </wsdl:message>
    <wsdl:message name="BE_CheckAndRetrieveItemRevQueryManagerPortType_getCheckAndRetrieveItemRevQueryManagerResponse">
        <wsdl:part name="return" element="tns:getCheckAndRetrieveItemRevQueryManagerResponse"/>
    </wsdl:message>
    <wsdl:message name="BusinessServiceException">
        <wsdl:part name="BusinessServiceExceptionElement" element="tns:BusinessServiceExceptionElement"/>
    </wsdl:message>
    <wsdl:portType name="BE_CheckAndRetrieveItemRevQueryManager">
        <wsdl:operation name="getCheckAndRetrieveItemRevQueryManager">
            <wsdl:input message="tns:BE_CheckAndRetrieveItemRevQueryManagerPortType_getCheckAndRetrieveItemRevQueryManager"/>
            <wsdl:output message="tns:BE_CheckAndRetrieveItemRevQueryManagerPortType_getCheckAndRetrieveItemRevQueryManagerResponse"/>
            <wsdl:fault name="BusinessServiceException" message="tns:BusinessServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BE_CheckAndRetrieveItemRevQueryManager" type="tns:BE_CheckAndRetrieveItemRevQueryManager">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCheckAndRetrieveItemRevQueryManager">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="return"/>
            </wsdl:output>
            <wsdl:fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BE_CheckAndRetrieveItemRevQueryManagerService">
        <wsdl:port name="BE_CheckAndRetrieveItemRevQueryManagerPort" binding="tns:BE_CheckAndRetrieveItemRevQueryManager">
            <soap:address location="http://localhost:7101/context-root-JP56RC01/BE_CheckAndRetrieveItemRevQueryManagerPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
